channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.6.2
- numpy =1.23.5
- pyiron_base =0.5.26
- pyiron_atomistics =0.2.58
- pyparsing =3.0.9
- scipy =1.9.3
- seaborn =0.12.0
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.26.22
- moto =4.0.11
