channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.6.2
- numpy =1.24.1
- pyiron_base =0.5.30
- pyiron_atomistics =0.2.61
- pyparsing =3.0.9
- scipy =1.10.0
- seaborn =0.12.2
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.26.45
- moto =4.0.13
- pycp2k =0.2.2
