channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.6.3
- numpy =1.24.1
- pyiron_base =0.5.31
- pyiron_atomistics =0.2.62
- pyparsing =3.0.9
- scipy =1.10.0
- seaborn =0.12.2
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.26.52
- moto =4.1.0
- pycp2k =0.2.2
