channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.5.3
- numpy =1.23.3
- pyiron_base =0.5.23
- pyiron_atomistics =0.2.56
- pyparsing =3.0.9
- scipy =1.9.1
- seaborn =0.12.0
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.24.70
- moto =4.0.3
