channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.5.2
- numpy =1.23.1
- pyiron_base =0.5.19
- pyiron_atomistics =0.2.51
- pyparsing =3.0.9
- scipy =1.8.1
- seaborn =0.11.2
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.24.36
- moto =3.1.16
