channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.5.1
- numpy =1.22.1
- pyiron_base =0.5.3
- pyiron_atomistics =0.2.35
- pyparsing =3.0.7
- scipy =1.7.3
- seaborn =0.11.2
- scikit-image =0.19.1
- randspg =0.0.1
- boto3 =1.20.49
- moto =3.0.2
