channels:
- conda-forge
dependencies:
- ase =3.22.0
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.4.3
- numpy =1.21.1
- pyiron_base =0.2.20
- pyiron_atomistics =0.2.21
- scipy =1.7.1
- seaborn =0.11.1
- scikit-image =0.18.2
- randspg =0.0.1
