channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.7.1
- numpy =1.24.2
- pyiron_base =0.5.33
- pyiron_atomistics =0.2.64
- pyparsing =3.0.9
- scipy =1.10.1
- seaborn =0.12.2
- scikit-image =0.19.3
- randspg =0.0.1
- boto3 =1.26.89
- moto =4.1.6
- pycp2k =0.2.2
- sqlalchemy <2
- typeguard =2.13.3
