channels:
- conda-forge
dependencies:
- ase =3.22.1
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.8.0
- numpy =1.26.0
- pyiron_base =0.6.7
- pyiron_atomistics =0.3.4
- pyparsing =3.1.1
- scipy =1.11.3
- seaborn =0.13.0
- scikit-image =0.21.0
- randspg =0.0.1
- boto3 =1.28.62
- moto =4.2.5
- pycp2k =0.2.2
- aws-sam-translator =1.77.0
- pympipool =0.7.1
- distributed =2023.9.3
