channels:
- conda-forge
dependencies:
- ase =3.22.0
- coveralls
- coverage
- codacy-coverage
- matplotlib =3.4.3
- numpy =1.21.3
- pyiron_base =0.3.10
- pyiron_atomistics =0.2.29
- pyparsing =3.0.5
- scipy =1.7.1
- seaborn =0.11.2
- scikit-image =0.18.3
- randspg =0.0.1
- boto3
- moto
- more-itertools
